 /* Estilo básico para a página */
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha o conteúdo ao topo */
    min-height: 100vh; /* Garante que o body tenha pelo menos a altura da tela */
    flex-direction: column;
}

/* Estilo para o título principal */
h1 {
    color: #007bff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Estilo para a área de inserção de texto */
textarea {
    width: 100%;
    max-width: 600px;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    resize: vertical;
}

/* Estilo para o botão de análise */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para o input de arquivos */
input[type="file"] {
    margin: 10px 0;
}

/* Estilo para os resultados */
pre {
    width: 100%;
    max-width: 600px;
    max-height: 300px; /* Define uma altura máxima para a área de resultados */
    overflow-y: auto; /* Permite rolagem vertical */
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Estilo para o subtítulo "Resultados" */
h2 {
    margin-top: 20px;
    color: #333;
}

/* Estilo para melhorar o layout em dispositivos móveis */
@media (max-width: 600px) {
    textarea {
        width: 100%;
    }
    
    pre {
        width: 100%;
    }
    
    button {
        width: 100%;
    }
}